.burgerConstructor { 
    margin-top: 100px;
    margin-left: 40px;
    height: 500px;
}


.cardSection {
    width: 600px;
    height: 480px;
    overflow: auto;
}


.card {
    display: flex;
    margin-top: 16px;
}

.orderSubmit {
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    align-items: center;
}